<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<body>


<div class="row">
<div class="col-md-10">
<table class="table">
    <tr class="title">
        <td>Column1</td>
        <td >Column2</td>
        <td >Column3</td>
        <td >Column4</td>
    </tr>

    <tr><td class="columnOfCards" id="c0">
        <table class="table">
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation l3"></td></tr>
            <tr><td class="cardLocation l4"></td></tr>
            <tr><td class="cardLocation l5"></td></tr>
            <tr><td class="cardLocation l6"></td></tr>
            <tr><td class="cardLocation l7"></td></tr>
            <tr><td class="cardLocation l8"></td></tr>
            <tr><td class="cardLocation l9"></td></tr>
            <tr><td class="cardLocation l10"></td></tr>
            <tr><td class="cardLocation l11"></td></tr>
            <tr><td class="cardLocation l12"></td></tr>
            <tr><td class="cardLocation l13"></td></tr>
            <tr><td><button id="Remove1">Column1</button></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table class="table">
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
                <tr><td><button id="Remove2">Column2</button></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table class="table">
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
                <tr><td><button id="Remove3">Column3</button></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table class="table">
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
                <tr><td><button id="Remove4">Column4</button></td></tr>
            </table>
        </td>
    </tr>
</table>
</div>
    <div id="messageBox" style="border:3px; border-style:solid; border-color:#000000; padding=1em; " class="col-md-2 bg-info">
        <p id="textArea" >Append all text Here!! id=textArea for js purposes</p>
    </div>
</div>
<div class="row">
<div class="col-sm-4">
    <button id="newGame">New Game</button>
</div>
<div class="col-sm-4">
    <button id="dealButton">Deal</button>
</div>

<div class="col-sm-4">
    <input type="radio" name="fromCol" value="0" id="fromCol1"> Column 1
    <input type="radio" name="toCol" value="0" id="toCol1"> Column 1<br>
    <input type="radio" name="fromCol" value="1" id="fromCol2"> Column 2
    <input type="radio" name="toCol" value="1" id="toCol2"> Column 2<br>
    <input type="radio" name="fromCol" value="2" id="fromCol3"> Column 3
    <input type="radio" name="toCol" value="2" id="toCol3"> Column 3<br>
    <input type="radio" name="fromCol" value="3" id="fromCol4"> Column 4
    <input type="radio" name="toCol" value="3" id="toCol4"> Column 4<br>
    <button id="move">Move</button>
</div>
</div>
<script>

var game;

function display(game) {
console.log(game);

$( '.columnOfCards .cardLocation' ).html("");

    $.each(game.cols[0], function( key, val ) {
        $( '#c0 .l'+key ).html(val.value + val.suit);
    });

 $.each(game.cols[1], function( key, val ) {
        $( '#c1 .l'+key ).html(val.value + val.suit);
    });

 $.each(game.cols[2], function( key, val ) {
        $( '#c2 .l'+key ).html(val.value + val.suit);
    });

 $.each(game.cols[3], function( key, val ) {
        $( '#c3 .l'+key ).html(val.value + val.suit);
    });



}

$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});


$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;



display(data);
var errMsg=game["errMsg"];
alert(errMsg);
document.getElementByID("textArea").innerHTML = errMsg;
},

contentType:"application/json; charset=utf-8",
dataType:"json",
});

}

//var textBox = document.getElementByID("textArea");

$("#Remove1").click(function(){
   //  textBox.text().replace(data["errMsg"]);
    removeCard(0);
});
$("#Remove2").click(function(){
    removeCard(1);
});
$("#Remove3").click(function(){
    removeCard(2);
});
$("#Remove4").click(function(){
    removeCard(3);
});
$("#newGame").click(function(){
    location.reload();
});
/*
$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});*/

$("#move").click(function(){
var fromCol = document.getElementsByName('fromCol');
for (var i = 0; i < 4; i++){
    if(fromCol[i].checked){
        var fromColVal = fromCol[i].value;
    }
}

var toCol = document.getElementsByName('toCol');
for (var i = 0; i < 4; i++){
    if(toCol[i].checked){
        var toColVal = toCol[i].value;
    }
}

$.ajax({
  type: "POST",
  url: "/moveCard/"+fromColVal+"/"+toColVal,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});

});


</script>



</body>
</html>